    /*
    Flaticon icon font: Flaticon
    Creation date: 24/03/2020 12:08
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-nurse:before { content: "\f100"; }
.flaticon-doctor:before { content: "\f101"; }
.flaticon-form:before { content: "\f102"; }
.flaticon-newborn:before { content: "\f103"; }
.flaticon-bed:before { content: "\f104"; }
.flaticon-pulse:before { content: "\f105"; }
.flaticon-x-rays:before { content: "\f106"; }
.flaticon-clinic:before { content: "\f107"; }
.flaticon-breath:before { content: "\f108"; }
.flaticon-solidarity:before { content: "\f109"; }
.flaticon-hospital-bed:before { content: "\f10a"; }
.flaticon-medical-history:before { content: "\f10b"; }
.flaticon-cardiogram:before { content: "\f10c"; }
.flaticon-medical-history-1:before { content: "\f10d"; }
.flaticon-television:before { content: "\f10e"; }
.flaticon-microwave-oven:before { content: "\f10f"; }
.flaticon-telephone:before { content: "\f110"; }
.flaticon-music-speaker:before { content: "\f111"; }
.flaticon-hospital:before { content: "\f112"; }
.flaticon-hairdryer:before { content: "\f113"; }
.flaticon-report:before { content: "\f114"; }
.flaticon-medicine:before { content: "\f115"; }
.flaticon-telephone-1:before { content: "\f116"; }
.flaticon-cash-machine:before { content: "\f117"; }
.flaticon-handshake:before { content: "\f118"; }
    
    $font-Flaticon-nurse: "\f100";
    $font-Flaticon-doctor: "\f101";
    $font-Flaticon-form: "\f102";
    $font-Flaticon-newborn: "\f103";
    $font-Flaticon-bed: "\f104";
    $font-Flaticon-pulse: "\f105";
    $font-Flaticon-x-rays: "\f106";
    $font-Flaticon-clinic: "\f107";
    $font-Flaticon-breath: "\f108";
    $font-Flaticon-solidarity: "\f109";
    $font-Flaticon-hospital-bed: "\f10a";
    $font-Flaticon-medical-history: "\f10b";
    $font-Flaticon-cardiogram: "\f10c";
    $font-Flaticon-medical-history-1: "\f10d";
    $font-Flaticon-television: "\f10e";
    $font-Flaticon-microwave-oven: "\f10f";
    $font-Flaticon-telephone: "\f110";
    $font-Flaticon-music-speaker: "\f111";
    $font-Flaticon-hospital: "\f112";
    $font-Flaticon-hairdryer: "\f113";
    $font-Flaticon-report: "\f114";
    $font-Flaticon-medicine: "\f115";
    $font-Flaticon-telephone-1: "\f116";
    $font-Flaticon-cash-machine: "\f117";
    $font-Flaticon-handshake: "\f118";